<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Main</title>

<style type="text/css">
.root-div {
<!--position: relative;-->
}
.main-div {
    margin: 0 auto;
}

.centred { margin: 0 auto;}

.fillHorizontally { width: 100%;}

*CSS*

</style>

<script>

*SCRIPT*

function loaded()
{
	*LOADED*
}

</script>

</head><body class="defaults" onload="loaded()">
<div class="root-div">
	<div class="main-div">
		<div class="container centred">
 
 
 *HTML*

		</div>
	</div>
</div>
<br>
</body></html>
